---
import EventList from '../components/home/EventList.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nischaya - Civil Service Society" active="events">
	<main class="px-20 pt-32">
        events
	</main>
</Layout>
