---
import EventList from '../components/home/EventList.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nischaya - Civil Service Society">
	<main class="lpt:px-20 tbl:px-12 mbl-lg:px-8 mbl-md:px-4 px-2 lpt-lg:pt-32 pt-36">
        <section class="grid lpt-lg:grid-cols-8 gap-x-20 gap-y-20">
            <div class="flex flex-col justify-center lpt-lg:col-span-4">
                <h1 class="lpt:text-6xl tbl:text-5xl mbl-md:text-4xl text-3xl font-['Manrope'] font-bold mb-8">
                    Together We Can - A Community of Aspirants Preparing for Civil Service Exams 
                </h1>
                <div class="lpt:text-xl tbl:text-lg text-base">
                    Join our community to prepare for Civil Service exams and together, we can achieve our dreams of serving the nation.
                </div>
                <div class="my-8 flex gap-x-3 flex-row items-center gap-y-5">
                    <a href="/blogs" class="w-max cursor-pointer rounded-full bg-blue-800 text-white px-6 py-3">Read our blogs</a>
                    <a href="/about" class="w-max cursor-pointer px-6 py-3">Our Mission</a>
                </div>
            </div>
            <div class="lpt-lg:col-span-4">
                <EventList/>
            </div>
        </section>
        <section class="mt-12 font-medium">
            <h2 class="text-4xl">
                Testimonials
            </h2>
        </section>
	</main>
</Layout>
