---
import EventCard from "../common/EventCard.astro";
const {event, isFirst=false} = Astro.props;
---
<div class="peer">
    <EventCard event={event}, isFirst={isFirst}>
</div>
<div class="w-16 h-[1.5px] absolute transition-all lpt:peer-hover:block hidden bg-light-primary-container top-1/2 -left-8 -translate-x-1/2 -translate-y-1/2"></div>
<div class={(isFirst ? "bg-primary-40 ": "bg-light-primary-container ") + "lpt:block hidden transition-all peer-hover:bg-primary-40 rounded-full w-6 h-6 absolute top-1/2 -left-16 -translate-y-1/2"}></div>