---
import MainHead from '../components/common/MainHead.astro'
import Nav from '../components/common/Nav.astro'
export interface Props {
	title: string;
	active?: string;
}

const { title, active="/" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <MainHead title={title} />
	<body class="font-roboto-flex bg-light-background">
		<Nav active={active}/>
		<slot />
	</body>
</html>
